<div layout="column">
    <div>
        <h3>Add Folder To DB</h3>
        <div layout="row" layout-align="start start">
            <div layout="row" layout-align="start center">
                <md-button ng-click="$ctrl.addDir()">Browse</md-button>
                <span>Currently selected dirs:</span>
                <div layout="column">
                    <div layout="row" layout-align="center center" ng-repeat="dirObject in $ctrl.dirs">
                        <span>{{dirObject.path}}</span>
                        <md-checkbox ng-model="dirObject.isVideo">Is video folder ?</md-checkbox>
                        <md-checkbox ng-model="dirObject.isPicture">Is picture folder ?</md-checkbox>
                        <md-button ng-click="$ctrl.addFolderToDb(dirObject)">Add Folder To Db</md-button>
                    </div>

                </div>
            </div>

        </div>

    </div>


    <div>
        <h3>Folders in DB</h3>
        <div layout="column">

            <div layout="row" layout-align="start center" ng-repeat="folder in $ctrl.foldersInDb">
                <md-checkbox ng-model="folder.to_scan">Scan ?</md-checkbox>
                <span flex="30">Name: {{folder.name}}</span>
                <span flex="10">Media Type: {{folder.media_type}}</span>
                <md-button flex="10" ng-click="$ctrl.getPaths(folder)">Walk dir</md-button>
                <md-button flex="12" ng-click="$ctrl.rescanPath(folder)">Rescan Path For Tags</md-button>
                <md-button flex="10" ng-click="$ctrl.deleteMediaFolderFromDb(folder)">Delete From DB</md-button>
                <md-button flex="10" ng-click="$ctrl.openFolderInExploer(folder.path_to_folder)">Open Folder</md-button>
            </div>

        </div>
    </div>

</div>

<div>
    <md-input-container>
        <label>Comma Seperated things to add</label>
        <textarea  ng-model="$ctrl.thingsToAddTextArea"></textarea>
    </md-input-container>
    <div layout="row" layout-align="start center">
        <span>Thing Type</span>
        <md-select ng-model="$ctrl.thingsToAddType" class="md-no-underline">
            <md-option ng-repeat="option in $ctrl.thingsToAddTypeOptions track by $index" value="{{option}}">{{option}}</md-option>
        </md-select>
        <md-checkbox ng-model="$ctrl.thingsToAddIsMainstream">
            (For actors) Is Mainstream : {{ $ctrl.thingsToAddIsMainstream }}
        </md-checkbox>
        <md-button ng-click="$ctrl.addMultipleValues()">
            Add Things
        </md-button>

    </div>

</div>

<md-button ng-click="$ctrl.scanAllActors()">Scan All Actors In Db</md-button>
<md-button ng-click="$ctrl.walkSelectedPaths()">Walk Selected Folders</md-button>
<md-button ng-click="$ctrl.scanSelectedPaths()">Rescan Selected Folders</md-button>
<md-button ng-click="$ctrl.writeJsonFiles()">Make JSON backup </md-button>



<!--<md-input-container>-->
    <!--<lable>Test file</lable>-->
    <!--<input ng-model="$ctrl.testFile">-->
    <!--<md-button ng-click="$ctrl.addTestScene()">Add Scene</md-button>-->
<!--</md-input-container>-->


