
<md-input-container>
    <label>Actor name</label>
    <input ng-model="$ctrl.textBoxInput">
</md-input-container>
<md-button ng-click="$ctrl.taggerTest()">Tagger Text</md-button>

<div ng-repeat="item in $ctrl.taggerQueryRes">
    <span layout="row" ng-style="{'background-color':item.background}" ng-show="item.matched == undefined">
        <span flex>{{item.id}}</span>
        <span flex>{{item.TableName}}</span>
        <span ng-click="$ctrl.addToArray(item)" style="cursor:pointer; color:blue; text-decoration:underline;" flex>{{item.name}}</span>
        <span flex>{{item.NumberOfScenes}}</span>
        <span flex>{{item.NumberOfPicture}}</span>
        <span flex>{{item.NumberOfActors}}</span>
        <span flex>{{item.matched}}</span>
    </span>

</div>