<md-virtual-repeat-container id="vertical-container">
    <div md-virtual-repeat="actor in $ctrl.dynamicItems" md-on-demand="" class="repeated-item" flex="" style="border: solid 1px black">
        <div layout="row">

            <img ng-src="{{$root.getSmallImagePath(actor.thumbnail,256,'Actor')}}"
                 style="width: 108px; height: 192px; border: solid 2px black">


            <span flex-offset="5"></span>

            <div layout="column" layout-align="start start">

                <span><strong>Name: </strong> <a href="#!/actor/{{actor.id}}">{{actor.name}}</a> </span>
                <span >Scenes:{{actor.scenes.length}} Pictures:{{actor.pictures.length}}</strong></span>


                <!--Scene Tags-->
                <md-chips ng-model="actor.tags"
                          md-on-remove="$root.tagChipRemove(scene,$chip)"
                          md-transform-chip="$root.tagChipTransform(actor,'Tag','tags',$chip)">
                    <md-autocomplete
                            placeholder="Tags"
                            md-selected-item="selectedItem"
                            md-search-text="searchText"
                            md-items="item in $root.tagAutoComplete('Tag',searchText)"
                            md-item-text="item.name"
                    >
                        <span md-highlight-text="searchText" md-highlight-flags="gi">{{item.name}}</span>
                    </md-autocomplete>

                    <md-chip-template>
                        {{$chip.name}}
                    </md-chip-template>
                </md-chips>

                <!--<md-chips ng-model="actor.actor_alias">-->
                    <!--<md-chip-template>-->
                        <!--{{$chip.name}}-->
                    <!--</md-chip-template>-->
                <!--</md-chips>-->



            </div>

        </div>
    </div>
</md-virtual-repeat-container>


