<md-nav-bar md-selected-nav-item="currentNavItem" ng-show="!$ctrl.showSearch">
    <md-nav-item md-nav-href="#!/db-test" ng-click="$ctrl.setCurrentTab('DB Test')" name="test">Db Test</md-nav-item>
    <md-nav-item md-nav-href="#!/scene"  ng-click="$ctrl.setCurrentTab('Scene')" name="scene-list">Scenes</md-nav-item>
    <md-nav-item md-nav-href="#!/picture"  ng-click="$ctrl.setCurrentTab('Picture')" name="picture-list">Pictures</md-nav-item>
    <md-nav-item md-nav-href="#!/actor"  ng-click="$ctrl.setCurrentTab('Actor')" name="actor-list">Actors</md-nav-item>
    <md-nav-item md-nav-href="#!/tag"  ng-click="$ctrl.setCurrentTab('Tag')" name="tag-list">Tags</md-nav-item>
    <md-nav-item md-nav-href="#!/website"  ng-click="$ctrl.setCurrentTab('Website')" name="website-list">Websites</md-nav-item>
    <md-nav-item md-nav-href="#!/folder" name="folder-list">Folders</md-nav-item>
    <md-nav-item flex=""></md-nav-item>
    <md-button ng-click="$ctrl.showSearch = !$ctrl.showSearch">Search</md-button>
    <md-nav-item md-nav-href="#!/settings" name="settings">Settings</md-nav-item>
</md-nav-bar>

<md-toolbar class="md-hue-1" style="min-height:15px; height: 50px" ng-show="$ctrl.showSearch">
    <div layout="row" layout-align="start center">
        <md-button ng-click="$ctrl.showSearch = !$ctrl.showSearch">
            back
        </md-button>
        <div layout="row" flex="">
            <md-input-container md-no-float flex="">
                <input ng-model="$ctrl.searchString" placeholder="Search here">
            </md-input-container>
            <md-input-container flex="">
                <md-select ng-model="$ctrl.selectedSearchOption">
                    <md-option ng-repeat="option in $ctrl.searchOptions track by $index" value="{{option}}" ng-selected="$first">{{option}}</md-option>
                </md-select>
            </md-input-container>
        </div>


        <md-button ng-click="$ctrl.showSearch = !$ctrl.showSearch">
            Back
        </md-button>
        <md-button ng-click="$ctrl.initiateSearch()">
            Search
        </md-button>
    </div>

</md-toolbar>


