<md-virtual-repeat-container id="vertical-container">
    <div md-virtual-repeat="scene in $ctrl.dynamicItems" md-on-demand="" class="repeated-item" flex="" style="border: solid 1px black">
        <div layout="row">

            <img ng-src="{{$root.getSmallImagePath(scene.thumbnail,360)}}" ng-click="showDialog($event,scene)"
                 style="height: 384px; border: solid 2px black">


            <span flex-offset="5"></span>
            <div layout="column" layout-align="start start">
                <!--Actors-->
                <span><strong>Name: </strong> <a href="#!/scene/{{scene.id}}">{{scene.name}}</a></span>
                <md-chips ng-model="scene.actors"
                          md-transform-chip="$root.tagChipTransform(scene,'Actor','actors',$chip)"
                          md-on-remove="$root.tagChipRemove(scene,$chip)"
                >
                    <md-autocomplete
                            placeholder="Actors"
                            md-selected-item="selectedItem"
                            md-search-text="searchText"
                            md-items="item in $root.tagAutoComplete('Actor',searchText)"
                            md-item-text="item.name"
                    >
                        <md-item-template>
                            <div layout="row" layout-align="start center">
                                <img  ng-src="{{$root.getSmallImagePath(item.thumbnail,64,'Actor')}}" style="width: 32px">
                                <span flex-offset="5" md-highlight-text="searchText" md-highlight-flags="gi">{{item.name}}</span>

                            </div>
                        </md-item-template>

                    </md-autocomplete>

                    <md-chip-template>
                        <div layout="row" layout-align="start center">
                            <img  ng-src="{{$root.getSmallImagePath($chip.thumbnail,64,'Actor')}}" style="width: 16px; border: solid black 1px">
                            <span flex-offset="5" ><a href="#!/actor/{{$chip.id}}">{{$chip.name}}</a></span>

                        </div>

                    </md-chip-template>
                </md-chips>

                <!--Scene Tags-->
                <md-chips ng-model="scene.tags"
                          md-on-remove="$root.tagChipRemove(scene,$chip)"
                          md-transform-chip="$root.tagChipTransform(scene,'Tag','tags',$chip)">
                    <md-autocomplete
                            placeholder="Tags"
                            md-selected-item="selectedItem"
                            md-search-text="searchText"
                            md-items="item in $root.tagAutoComplete('Tag',searchText)"
                            md-item-text="item.name"
                            md-select-on-match="true"
                    >
                        <span md-highlight-text="searchText" md-highlight-flags="gi">{{item.name}}</span>
                    </md-autocomplete>

                    <md-chip-template>
                        <a href="#!/tag/{{$chip.id}}">{{$chip.name}}</a>
                    </md-chip-template>
                </md-chips>

                <!--Websites-->

                <md-chips ng-model="scene.websites"
                          md-on-remove="$root.tagChipRemove(scene,$chip)"
                          md-transform-chip="$root.tagChipTransform(scene,'Website','websites',$chip)">
                    <md-autocomplete
                            placeholder="Websites"
                            md-selected-item="selectedItem"
                            md-search-text="searchText"
                            md-items="item in $root.tagAutoComplete('Website',searchText)"
                            md-item-text="item.name"
                    >
                        <span md-highlight-text="searchText" md-highlight-flags="gi">{{item.name}}</span>
                    </md-autocomplete>

                    <md-chip-template>
                        <a href="#!/website/{{$chip.id}}">{{$chip.name}}</a>
                    </md-chip-template>
                </md-chips>
                <span><strong>Path to File: </strong> {{scene.path_to_file}}  </span>
                <span><strong>Duration: </strong> {{$ctrl.getSceneLength(scene.duration)}}</span>

            </div>

        </div>
    </div>
</md-virtual-repeat-container>



<!--<md-virtual-repeat-container id="vertical-container">-->
<!--<div md-virtual-repeat="scene in $ctrl.dynamicItems" md-on-demand="" class="repeated-item" flex="">-->

<!--</md-content>-->


<!--<div layout="column">-->
<!--<div layout="row" layout-align="start start" ng-repeat="scene in $ctrl.scenes track by $index">-->
<!--<img ng-src="{{scene.thumbnail}}" style="width: 384px; height: 216px; border: solid 2px black">-->
<!--<span flex-offset="5"></span>-->
<!--<div layout="column" layout-align="start start">-->
<!--&lt;!&ndash;Actors&ndash;&gt;-->
<!--<md-chips ng-model="scene.actors"-->
<!--md-transform-chip="$ctrl.chipTransform(scene,'Actor','actors',$chip)">-->
<!--<md-autocomplete-->
<!--placeholder="Actors"-->
<!--md-selected-item="selectedItem"-->
<!--md-search-text="searchText"-->
<!--md-items="item in $ctrl.querySearch('Actor',searchText)"-->
<!--md-item-text="item.name"-->
<!--&gt;-->
<!--<span md-highlight-text="searchText" md-highlight-flags="gi">{{item.name}}</span>-->
<!--</md-autocomplete>-->

<!--<md-chip-template>-->
<!--{{$chip.name}}-->
<!--</md-chip-template>-->
<!--</md-chips>-->

<!--&lt;!&ndash;Scene Tags&ndash;&gt;-->
<!--<md-chips ng-model="scene.scene_tags"-->

<!--md-transform-chip="$ctrl.chipTransform(scene,'SceneTag','scene_tags',$chip)">-->
<!--<md-autocomplete-->
<!--placeholder="Scene Tags"-->
<!--md-selected-item="selectedItem"-->
<!--md-search-text="searchText"-->
<!--md-items="item in $ctrl.querySearch('SceneTag',searchText)"-->
<!--md-item-text="item.name"-->
<!--&gt;-->
<!--<span md-highlight-text="searchText" md-highlight-flags="gi">{{item.name}}</span>-->
<!--</md-autocomplete>-->

<!--<md-chip-template>-->
<!--{{$chip.name}}-->
<!--</md-chip-template>-->
<!--</md-chips>-->

<!--&lt;!&ndash;Websites&ndash;&gt;-->

<!--<md-chips ng-model="scene.websites"-->
<!--md-transform-chip="$ctrl.chipTransform(scene,'Website','websites',$chip)">-->
<!--<md-autocomplete-->
<!--placeholder="Websites"-->
<!--md-selected-item="selectedItem"-->
<!--md-search-text="searchText"-->
<!--md-items="item in $ctrl.querySearch('Website',searchText)"-->
<!--md-item-text="item.name"-->
<!--&gt;-->
<!--<span md-highlight-text="searchText" md-highlight-flags="gi">{{item.name}}</span>-->
<!--</md-autocomplete>-->

<!--<md-chip-template>-->
<!--{{$chip.name}}-->
<!--</md-chip-template>-->
<!--</md-chips>-->


<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</md-content>-->